---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/blog/Hero.astro";
import Tags from "../../components/blog/Tags.astro";
import ListPosts from "../../components/blog/ListPosts.astro";
const pageTitle = "Bayesian Modeling & Decarbonization Blog | Robert Donohue | Enverdex";
const description = "Welcome to my blog, where I share my passion for data science, Bayesian learning, and sustainability.";
const ogimage ={
    url: "/images/blogimage.webp",
    alt: "rfdonohue.io logo with green background and light effect. Text: 'Bayesian Modeling and Decarbonization Block' and URL 'www.rfdonohue.io'."
};
---

<Layout  pageTitle={pageTitle} description={description} ogimage={ogimage}>

    <Hero />
    <Tags />
    <div class="px-8 max-sm:px-4">
        <ListPosts />
    </div>

</Layout>